body{
  background-color:blue;
   color:black;
  text-align:center;
}
imgdog
{
  text-align:center;
  height:200px;
    widht:200ps;
}
imgdogs
{
  text-align:center;
  height:200px;
    widht:200ps;
}
imgpuppy
{
  text-align:center;
  height:200px;
    widht:200ps;
}
imgparrow
{
  text-align:center;
  height:200px;
    widht:200ps;
}